.digits {
    padding: 125px 0 85px;
    &__item {
        height: 140px;
        border-radius: 5px;
        background: #f9f9f7;
        color: #394149;
        margin: 0 15px 40px 0;
        background-position: calc(100% - 10px) 15px;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 20px;
        text-align: center;
        line-height: 1.1;
        &-num {
            font-size: 48px;
            font-weight: 500;
            margin-right: 5px;
            color: @color-blue5;
            span {
                font-size: 20px;
                margin-right: 7px;
                font-weight: 400;
            }
        }
    }
    &__bg1 {
        background-image: url(../images/icons/icon-digits1.png);
        background-color: @color-blue4;
        color: @color-white;
        .digits__item-num { color: @color-white; }
    }
    &__bg2 {
        background-image: url(../images/icons/icon-digits2.png);
        background-color: #e9f7f7;
    }
    &__bg3 {
        background-image: url(../images/icons/icon-digits3.png);
        padding: 0 50px;
    }
    &__bg4 {
        background-image: url(../images/icons/icon-digits4.png);
        background-color: #e9f7f7;
    }
    &__bg5 {
        background-image: url(../images/icons/icon-digits5.png);
        background-color: #fef4ea;
    }
    &__bg6 {
        background-image: url(../images/icons/icon-digits6.png);
        background-color: #f8f7ff;
    }
    &__bg7 {
        background-image: url(../images/icons/icon-digits7.png);
        background-color: #FEF4F4;
        ;
    }
}