.help-form {
    background: url(../images/help-form-bg.jpg) no-repeat 50% 0;
    height: 588px;
    text-align: center;
    color: #fff;
    .container {
        .media(mobile, { padding: 0; });
    }
    .media(mobile, {
        background: url(../images/help-form-bg1.jpg) no-repeat 50% 0;
        background-size: 100%;
        padding: 300px 0 0;
        height: auto;
    });
    @media(max-width: 800px) {
        background-size: auto 300px;
    }
    @media(max-width: 400px) {
        background-position: -40px 0;
        background-size: auto 235px;
        padding: 235px 0 0;
    }
    &__quest {
        font-size: 24px;
        padding: 0 0 27px;
        .media(mobile, { font-size: 16px; padding-bottom: 10px; });
    }
    &__title {
        font-size: 48px;
        .media(mobile, { font-size: 24px; line-height: 1.2; });
    }
    &__desc {
        font-size: 16px;
        font-weight: 500;
        color: @color-gray2;
        margin-bottom: 32px;
        br {
            display: none;
            @media(max-width: 400px) { display: block;}
        }
        .w {
            color: @color-white;
            font-weight: 400;
            text-transform: uppercase;
        }
    }
    &__fields {
        .media(mobile, { 
            padding: 0 40px; 
            display: flex; 
            flex-direction: column; 
            max-width: 700px; 
            margin: 0 auto});
        .col-6 {
            .media(mobile, { width: 100%;});
        }
        &-input {
            width: 100%;
            height: 40px;
            border: 1px solid @color-gray3;
            padding: 0 20px;
            box-sizing: border-box;
            outline: none;
            .media(mobile, { margin-bottom: 12px; });
        }
        &-btn {
            border: none;
            border-radius: 30px;
            font-size: 20px;
            color: @color-white;
            background: @color-orange;
            padding: 10px 35px;
            margin: 35px 0 20px;
            .media(mobile, { margin: 5px 0 10px; });
            &:hover {
                opacity: 0.8;
            }
        }
        label {
            cursor: pointer;
        }
        &-small {
            font-size: 12px;
            margin: 0 0 5px;
            a, a:hover {
                color: inherit
            }
            input {
                margin: 0 5px 0 10px;
                .media(mobile, {
                    display: block;
                    margin-bottom: 20px;
                    float: left;
                });
            }
            .media(mobile, {
                align-items: flex-start;
            })
        }
        .align-left {
            .media(mobile, {
                text-align: left;
            });
        }

    }
    &__success {
        .blur;
        position: absolute;
        top: 70px;
        right: 0;
        z-index: 100;
        width: 831px;
        .media(mobile, {
            width: calc(100% - 60px);
            right: 30px;
            top: 45px;
         });
        .close {
            border: none;
            position: absolute;
            top: 40px;
            right: 40px;
            background: @color-white url(../images/icons/icon-close.svg) no-repeat 50%;
            border-radius: 5px;
            width: 35px;
            height: 35px;
            .media(mobile, { top: 20px; right: 20px;});
        }
        &-message {
            display: flex;
            height: 465px;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-size: 24px;
            font-weight: 700;
            color: @color-dark-gray;
            img {
                display: none;
                .media(mobile, { display: block; });
            } 
            .media(mobile, { height: 330px; font-size: 18px;});
        }
        &-thanks {
            font-size: 36px;
            color: @color-orange;
            .media(mobile, { font-size: 24px; });
        }
    }
    &__container {
        padding: 100px 80px 0 0;
        width: 665px;
        float: right;
        position: relative;
        .media(mobile, {
            float: none;
            width: auto;
            background: @color-blue8;
            padding: 20px 10px;
        });
    }
}
.help-form2 {
    background: url(../images/visit-form-bg.jpg) no-repeat 50% 0;
    min-height: 590px;
    position: relative;
    .media(mobile, { 
        background: #f6f8f7 url(../images/visit-form-bg.jpg) no-repeat -130px 100px !important;
        background-size: auto 590px !important;
        padding-top: 590px !important;
    });
    @media(max-width: 800px) {
        background-size: auto 450px;
        padding-top: 450px !important;
    }
    @media(max-width: 400px) {
        background-size: auto 380px !important;
        padding-top: 380px !important;
    }
    &__bg {
        position: absolute;
        top: 0;
        left: 42%;
        width: 68%;
        height: 100%;
        background-color: @color-blue9;
        .media(mobile, {
            display: none;
        })
    }
    .help-form__container {
        padding-top: 60px;
        padding-bottom: 20px;
        .media(mobile, { 
            position: static; 
            padding: 45px 0;
        })
    }
    .help-form__quest {
        font-size: 20px;
        font-weight: 400;
        .media(mobile, {
            position: absolute;
            top: 31px;
            left: 0;
            width: 100%;
            color: @color-blue7;
            text-align: center;
            font-size: 14px;
            box-sizing: border-box;
            padding: 0 30px;
        })
    }
    .help-form__fields {
        display: block;
        .media(mobile, { display: flex;});
        &-input {
            margin-bottom: 25px;
        }
    }
    .help-form__title {
        font-size: 30px;
        margin-bottom: 40px;
        .media(mobile, { 
            font-size: 24px;
            padding: 0 50px;
            margin-bottom: 15px;
        });
    }
    .help-form__fields-btn {
        .media(mobile, {
            margin: 20px 15px;
            padding: 13px 0;
         });
    }
    .choices {
        .media(mobile, { margin-bottom: 25px; });
    }
    .help-form__fields .row {
        margin-bottom: 30px;
        .media(mobile, { 
            margin: 0;
        });
    }
    .help-form__desc {
        margin-bottom: 12px;
        .media(mobile, {
            font-size: 14px;
            padding: 5px 20px 10px;
        });
    }
    .help-form__success {
        width: 760px;
    }
    .order-5 {
        order: 5;
    }
    .order-6 {
        order: 6;
    }
}

